@using ResumeBuilder.Shared.Models;
@inherits ResumeSingleView<Address>

<div class="input-wrapper">
    <label for="address-city">
        <span>City</span>
    </label>
    <InputText class="input" id="address-city" @bind-Value="Info.City" />
</div>

<div class="input-wrapper">
    <label for="address-state">
        <span>State</span>
    </label>
    <InputText class="input" id="address-state" @bind-Value="Info.State" />
</div>

<div class="input-wrapper">
    <label for="address-zip">
        <span>Zip</span>
    </label>
    <InputText class="input" id="address-zip" @bind-Value="Info.Zip" />
</div>


@code {

}
