@inherits InputText
@typeparam T
<div class="deletable-text bordered">
    @*<div class="input-wrapper">*@
    <InputText class="input input-text" placeholder="Type here..." @bind-Value="Value" />
    @*</div>*@
    <div class="delete-wrapper">
        <button @onclick="() => Delete()" id="@ID" class="delete oi oi-trash"></button>
    </div>
</div>

@code {
    public DeletableInputText()
    {
        _id++;
    }

    [Parameter]
    public required EventCallback<T> OnDelete { get; set; }

    [Parameter]
    public required EventCallback<T> OnUpdate { get; set; }

    private async void Delete()
    {
        await OnDelete.InvokeAsync();
        await OnUpdate.InvokeAsync();
    }

    private static int _id = 0;

    private static string ID
    {
        get
        {
            return "deletable-text-" + _id.ToString();
        }
    }
}
