@using ResumeBuilder.Shared.Models;
@inherits ResumeListView<Education>

<h2 class="section-header">
    <span>Education</span>
    <button class="oi oi-plus" @onclick="@OnAddClicked"></button>
</h2>

@foreach (var education in List)
{
    <div class="education">
        <div class="education-delete-wrapper delete-wrapper">
            <button @onclick="() => Delete(education)" class="oi oi-trash"></button>
        </div>

        <div class="input-wrapper">
            <label for="edu-name">
                <span class="label">School Name</span>
            </label>
            <InputText class="input" id="edu-name" @bind-Value="education.SchoolName" />
        </div>

        <div class="input-wrapper">
            <label for="edu-title">
                <span class="label">Title</span>
            </label>
            <InputText class="input" id="edu-title" @bind-Value="education.Title" />
        </div>

        <div class="input-wrapper">
            <label for="edu-start">
                <span class="label">Start Date</span>
            </label>
            <InputDate class="input" id="edu-start" @bind-Value="education.StartDate" TValue="DateTime" />
        </div>

        @if (!education.Current)
        {
            <div class="input-wrapper">
                <label for="edu-end">
                    <span class="label">End Date</span>
                </label>
                <InputDate class="input" id="edu-end" @bind-Value="education.EndDate" TValue="DateTime" />
            </div>
        }

        <div class="input-wrapper">
            <label for="edu-current">
                <span class="label">Current?</span>
            </label>
            <InputCheckbox class="input" id="edu-current" @bind-Value="education.Current" />
        </div>

        <InputTextList List="education.Points" />
    </div>
}
@code {

}
