@using ResumeBuilder.Shared.Models;
@inherits ResumeListView<Project>

<h2 class="section-header">
    <span>Projects</span>
    <button class="oi oi-plus" @onclick="@OnAddClicked"></button>
</h2>

@foreach (var project in List)
{
    <div class="project list-wrapper">
        <div class="project-delete-wrapper delete-wrapper">
            <button @onclick="() => Delete(project)" class="oi oi-trash"></button>
        </div>
        <div class="input-wrapper">
            <label for="project-name">
                <span class="label">Project Name</span>
            </label>
            <InputText class="input" placeholder="Type here..." id="project-name" @bind-Value="project.Name" />
        </div>

        <div class="input-wrapper">
            <label for="project-date">
                <span class="label">Project Date</span>
            </label>
            <InputText class="input" placeholder="Type here..." id="project-date" @bind-Value="project.Date" />
        </div>

        <InputTextList List="project.Points"
                       T=Project
                       OnUpdated="@OnUpdated" />
    </div>
}

@code {

}
