@using ResumeBuilder.Shared.Models;
@inherits ResumeListView<Skill>

<h2 class="section-header">
    <span>Skills</span>
    <button class="oi oi-plus" @onclick="@OnAddClicked"></button>
</h2>

@foreach (var skill in List)
{
    <div class="skill">
        <DeletableInputText T="Skill"
            @bind-Value="skill.Name"
            OnDelete="() => Delete(skill)"
            OnUpdate="OnUpdated"
            />
        @*
        <div class="input-wrapper skill-input-wrapper">
            <InputText class="input input-text" placeholder="Type here..." @bind-Value="skill.Name" />
        </div>
        <div class="skill-delete-wrapper delete-wrapper">
            <button @onclick="() => Delete(skill)" class="delete oi oi-trash"></button>
        </div>*@
    </div>
}

@code {

}
