@using ResumeBuilder.Shared.Models;
@inherits ResumeListView<Skill>

<h2 class="section-header">
    <span>Skills</span>
    <button class="oi oi-plus" @onclick="@OnAddClicked"></button>
</h2>

@foreach (var skill in List)
{
    <div class="skill">
        <div class="skill-delete-wrapper delete-wrapper">
            <button @onclick="() => Delete(skill)" class="oi oi-trash"></button>
        </div>
        <div class="input-wrapper">
            <InputText class="input" @bind-Value="skill.Name" />
        </div>
    </div>
}

@code {

}
