@using ResumeBuilder.Shared.Models;
@inherits ResumeSingleView<UserInfoModel>;

<h2 class="section-header">
    <span>Your Details</span>
</h2>

<div class="input-wrapper">
    <label for="user-name">
        <span class="label">Name</span>
    </label>
    <InputText class="input input-text" placeholder="Type here..." id="user-name" @bind-Value="Info.Name" />
</div>

<div class="input-wrapper">
    <label for="user-title">
        <span class="label">Title</span>
    </label>
    <InputText class="input input-text" placeholder="Type here..." id="user-title" @bind-Value="Info.Title" />
</div>

<div class="input-wrapper">
    <label for="user-email">
        <span class="label">Email Address</span>
    </label>
    <InputText class="input input-text" placeholder="Type here..." id="user-email" @bind-Value="Info.Email" />
</div>

<div class="input-wrapper">
    <label for="user-phone">
        <span class="label">Phone Number</span>
    </label>
    <InputText class="input input-text" placeholder="Type here..." id="user-phone" @bind-Value="Info.Phone" />
</div>

<div class="input-wrapper about-wrapper">
    <label for="user-about">
        <span class="label">About</span>
    </label>
    <div class="grow-wrapper">
        @* Autogrowing textarea from https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ *@
        <InputTextArea class="input input-textarea" 
            placeholder="Type here..."
            id="user-about"
            onInput="this.parentNode.dataset.replicatedValue = this.value"
            @bind-Value="Info.About" /> @*onInput to allow textarea to resize on its own.*@
    </div>
</div>

<section class="socials-wrapper section-wrapper">
    <SocialList List="@Info.Links" />
</section>
@code {

}
