@page "/resume"
@using ResumeBuilder.Shared.Interfaces;
@using ResumeBuilder.UI.Services.Interfaces;
@using ResumeBuilder.Shared.Models;
@using Blazored.LocalStorage;
@inject ISyncLocalStorageService LocalStorageService;
@inject IResumeModelService ModelService;

<h3>ResumePage</h3>

<main class="main-wrapper">
    <div class="resume-wrapper">
        @if (Model != null)
        {
            <EditForm class="resume-body" Model="@Model">
                <DataAnnotationsValidator />
                <section class="user-details">
                    <h2>
                        <span>User Details</span>
                    </h2>

                    <label for="user-name">
                        <span>Name</span>
                    </label>
                    <InputText class="input" id="user-name" @bind-Value="Model.User.Name" />

                    <label for="user-title">
                        <span>Title</span>
                    </label>
                    <InputText class="input" id="user-title" @bind-Value="Model.User.Title" />

                    <label for="user-address-city">
                        <span>City</span>
                    </label>
                    <InputText class="input" id="user-city" @bind-Value="Model.User.Address.City" />

                    <label for="user-address-state">
                        <span>State</span>
                    </label>
                    <InputText class="input" id="user-state" @bind-Value="Model.User.Address.State" />

                    <label for="user-address-zip">
                        <span>Zip</span>
                    </label>
                    <InputText class="input" id="user-address-zip" @bind-Value="Model.User.Address.Zip" />

                    <label for="user-email">
                        <span>Email</span>
                    </label>
                    <InputText class="input" id="user-email" @bind-Value="Model.User.Email" />

                    <label for="user-about">
                        <span>About</span>
                    </label>
                    <InputText class="input" id="user-about" @bind-Value="Model.User.About" />

                </section>
                <button type="submit">Submit</button>
                <ValidationSummary />
            </EditForm>
        }
        else
        {
            <p>The Model is null. Please report this error.</p>
        }
    </div>
</main>

@code {
    [Parameter]
    public IResumeInfoModel Model { get; set; }

    public ResumePage()
    {
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        //ModelService.AddLocalStorageService(LocalStorageService);
        Model = ModelService.GetModel();
        await base.SetParametersAsync(parameters);
    }


}
