@page "/"
@using ResumeBuilder.Shared.Interfaces;
@using ResumeBuilder.UI.Services.Interfaces;
@using ResumeBuilder.Shared.Models;
@using Blazored.LocalStorage;
@using Microsoft.AspNetCore.Components.Forms;
    @inject IResumeModelService ModelService;

<PageTitle>Resume Builder</PageTitle>
<h3>ResumePage</h3>

<main class="main-wrapper">
    <div class="resume-wrapper">
        @if (Model != null)
        {
            <EditForm class="resume-body" EditContext="@EditContext">
                <DataAnnotationsValidator />
                <section class="user-details">
                    <h2>
                        <span>User Details</span>
                    </h2>

                    <label for="user-name">
                        <span>Name</span>
                    </label>
                    <InputText class="input" id="user-name" @bind-Value="Model.User.Name" />

                    <label for="user-title">
                        <span>Title</span>
                    </label>
                    <InputText class="input" id="user-title" @bind-Value="Model.User.Title" />

                    <label for="user-email">
                        <span>Email Address</span>
                    </label>
                    <InputText class="input" id="user-email" @bind-Value="Model.User.Email" />

                    <label for="user-phone">
                        <span>Phone Number</span>
                    </label>
                    <InputText class="input" id="user-phone" @bind-Value="Model.User.Phone" />

                    <label for="user-about">
                        <span>About</span>
                    </label>
                    <InputText class="input" id="user-about" @bind-Value="Model.User.About" />

                    <section class="address">
                        <label for="user-address-city">
                            <span>City</span>
                        </label>
                        <InputText class="input" id="user-address-city" @bind-Value="Model.User.Address.City" />

                        <label for="user-address-state">
                            <span>State</span>
                        </label>
                        <InputText class="input" id="user-address-state" @bind-Value="Model.User.Address.State" />

                        <label for="user-address-zip">
                            <span>Zip</span>
                        </label>
                        <InputText class="input" id="user-address-zip" @bind-Value="Model.User.Address.Zip" />
                    </section>
                </section>
                <section class="">
                    <h2>
                        
                    </h2>
                </section>
                <button @onclick="@OnSubmitPressed" type="submit">Submit</button>
                @*<ValidationSummary />*@
            </EditForm>
        }
        else
        {
            <p>The Model is null. Please report this error.</p>
        }
    </div>
</main>

@code {
    [Parameter]
    public IResumeInfoModel? Model { get; set; }
    public EditContext EditContext { get; set; }

    protected override void OnInitialized()
    {
        Model = ModelService.GetModel();
        EditContext = new EditContext(Model);
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;
        base.OnInitialized();
    }

    private void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        ModelService.SaveTemp(Model);
    }

    private void OnSubmitPressed(MouseEventArgs args)
    {
        Model.User.Name = "test";
    }



}
