.main-wrapper {
    --generate-bg-color1: #425e8a;
    --generate-bg-color2: #4d0e5e;
    --generate-bdr-color1: #63bf6d;
    --generate-bdr-color2: #7794d9;
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    display: flex;
}

.resume-wrapper {
    margin: auto;
    left: 5vw;
    height: 100%;
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px dotted #fff;
}

::deep .resume {
    display: flex;
    /*align-items: center;*/
    flex-flow: row wrap;
    justify-content: space-around;
}

.section-wrapper {
    /*max-width: 400px;*/
    /*display: inline-flex;*/
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid #73AD21;
    align-items: center;
}

::deep .input-wrapper {
    display: flex;
    flex-direction: row;
}

::deep .experience {
    background-color: rgb(233, 233, 233, 0.18);
    border: 1px solid #fff;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px dotted #88ff88;
}

.left-menu {
    height: 80%;
    width: 20%;
    left: 5%;
    top: 10%;
}

.right-menu {
    height: 80%;
    width: 17.5%;
    left: 80%;
    top: 10%;
}

.button-wrapper {
    min-width: 50px;
    min-height: 50px;
    margin: auto;
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.large-button {
    position: relative;
    border: none;
    width: 100%;
    height: 100%;
}

.model-selector-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.model-button {
    background-color: red;
}

.model-active {
    background-color: blue;
    color: white;
}

.generate-button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

    .generate-button > .button-mask, 
    .generate-button > .button-border {
        inset: 0;
        content: "";
        position: absolute;
        z-index: -2;
        overflow: hidden;
        border-radius: 4px;
        transition: 500ms cubic-bezier(.54,.47,.5,1.7);
        transition-property: transform;
    }

    .generate-button:hover > .button-mask {
        transform: scale(1.05);
    }

    .generate-button > .button-mask::after {
        background: linear-gradient(100deg, var(--generate-bg-color1) 20%, var(--generate-bg-color2));
    }

    .generate-button:hover > .button-mask::after {
        transform: rotate(-250deg);
    }

    .generate-button:hover > .button-border {
        transform: scale(1.1);
    }

    .generate-button > .button-border::after {
        background: linear-gradient(100deg, var(--generate-bdr-color1) 10%, var(--generate-bdr-color2));
    }

    .generate-button:hover > .button-border::after {
        transform: rotate(250deg);
    }

    .generate-button > .button-mask::after,
    .generate-button > .button-border::after {
        width: 400px;
        height: 400px;
        inset: 0;
        left: -30%;
        margin: auto;
        content: "";
        position: absolute;
        z-index: -1;
        transition: 750ms ease-in-out;
        transition-property: transform;
    }